.tab {
  display: flex;
  border-bottom: 2px solid #dc143c;
  background-color: #ffffff;
}

.logoutLink{
  text-decoration: none;
  color:white;

}

.tab button,
.tab a {
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: 0.25s;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}


.tab button:hover,
.tab a:hover {
  background-color: #ffe5ea;
  color: #dc143c;
}

.tab button.active,
.tab a.active {
  background-color: #dc143c;
  color: white;
  font-weight: bold;
}


.tabcontent {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #ffffff;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
}


header {
  background-color: #dc143c;
  color: white;
  padding: 15px;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: #dc143c;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

tr:hover {
  background-color: #fff0f3;
}

