<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supply Chain Database</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
</head>

<body>

<header>
    <h1>Supply Chain Database</h1>
    <nav>
        <a href="/" class = logoutLink>Log Out</a>
    </nav>
</header>

<main>

    <!-- Tab links -->
    <div class="tab">
    <button class="tablinks" onclick="showData(event, 'Production_orders')">Production Orders</button>
    <button class="tablinks" onclick="showData(event, 'Vendors')">Vendors</button>
    <button class="tablinks" onclick="showData(event, 'Production_report')">Production Report</button>
     <button class="tablinks" onclick="showData(event, 'Inventory')">Inventory</button>
    </div>

 
    
    

</main>

<script>
function showData(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


<footer>
    <p>© 2026 Database Project</p>
</footer>

</body>
</html>