<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>

<header>
    <h1>Supply Chain Database</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>

<main>
    <!--Create new entries-->
    <p>Create a new production order here</p>
    <form>

    </form>

    <!-- read existing entries -->
    <p>Check for status of production orders here</p>
    <form>
        <label for "ProductionID"> ProductionID</label>
        <input type = "text" id = "productionID" name = "productionID" value = "..Enter Order ID">
        <input type = "submit" value = "Submit">
    </form>
    <div>
        Display Order status here
    </div>

    <!--Update existing entries--> 
    <P>Update an existing orders</P>
    

    <!--Delete exisitng entries-->
    <P>Delete an existing orders</P>




</main>

<footer>
    <p>©2026 Database Project</p>
</footer>

</body>
</html>