<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supply Chain Database</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
</head>

<body>
<header><div class = "header">
    <h1>Supply Chain Database</h1>
    
</div>
<nav><a href="/" class = logoutLink>Log Out</a></nav>
</header>
<main>
    
    <!-- Tab links -->
    <div class="tab">
    <button class="tablinks" onclick="showData(event, 'Production_orders')">Production Orders</button>
    <button class="tablinks" onclick="showData(event, 'Vendors')">Vendors</button>
    <button class="tablinks" onclick="showData(event, 'Production_report')">Production Report</button>
    <button class="tablinks" onclick="showData(event, 'Inventory')">Inventory</button>
    </div>
          
<div class ="borderBox">
<div class="search-bar">
    <input class="searchInput" type="text" placeholder="Search ...">
    <button class="btn">Search</button>
</div>


</div>

    
        <div id="Production_orders" class="tab-content">
            {% include "components/production_order_table.html" %}
        </div>
        <div id="Vendors" class="tab-content">
            {% include "components/vendor_table.html" %}
        </div>

        <div id="Production_report" class="tab-content">
            {% include "components/production_report_table.html" %}
        </div>

        <div id="Inventory" class="tab-content">
            {% include "components/inventory_table.html" %}
        </div>






</main>
<script>
function showData(evt, tabName) {
    document.querySelectorAll('.tab-content').forEach(tab => {
        tab.style.display = 'none';
    });

    document.querySelectorAll('.tablinks').forEach(btn => {
        btn.classList.remove('active');
    });

    document.getElementById(tabName).style.display = 'block';
    evt.currentTarget.classList.add('active');
}

document.addEventListener('DOMContentLoaded', () => {
    const firstTab = document.querySelector('.tablinks');
    if (firstTab) firstTab.click();
});


function openModal(modalId, data) {
    for (const key in data) {
        const el = document.getElementById(key);
        if (!el) continue;

        if (el.tagName === "SELECT") {
            el.value = data[key];
        
        } else {
            el.value = data[key] ?? "";
        }
    }
    document.getElementById(modalId).style.display = "flex";
}

function closeModal(modalId) {
    document.getElementById(modalId).style.display = "none";
}

document.addEventListener('click', function (e) {
    const modals = document.querySelectorAll('.modal-overlay');

    modals.forEach(modal => {
        if (e.target === modal) {
            modal.style.display = 'none';
        }
    });
});

//function for viewing parts
function openPartsModal(order_id){

}

</script>
</body>
</html>