<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supply Chain Database</title>
    <link
      rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}"/>
  </head>
  <body>
    <div id="toast" style="display:none;"></div>

    
   
    <section id="home" class="section">
    <div class="mainHorizontalLayout">
      <div class="mainVerticalLayout">
        <div class="headerMessage">
          <div class="loginContainer">
            
            <div class="horizontalFlex">
                
              <form id="auth_form" action="{{url_for('login')}}" method="post">
                <div class="verticalFlex">
                  <h1>Supply Chain Database</h1>
                  <h2>Log In</h2>
                  <input
                    type="text"
                    class="usernameInput"
                    placeholder="username"
                    name="username"
                  />
                  <input
                    type="text"
                    class="passwordInput"
                    placeholder="password"
                    name="password"
                  />
                  <div class="horizontalButtonFlex">
                    <input
                      name="submit"
                      value="login"
                      type="submit"
                      onmousedown="setActionForm('login')"
                      class="btn"
                    />

                    <input
                      name="register"
                      value="register"
                      type="submit"
                      onMousedown="setActionForm('register')"
                      class="btn"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class = "imageContainer"><img src="static/images/arno-senoner-yqu6tJkSQ_k-unsplash.jpg" >
    
    
     </div>

 <script>
  function setActionForm(type) {
    const form = document.getElementById("auth_form");
    form.action = type === "register" ? "/register" : "/login";
  }

  function showToast(message) {
      const toast = document.getElementById("toast");
      toast.innerText = message;
      toast.style.display = "block";
      toast.classList.remove("hide");

      setTimeout(() => {
          toast.classList.add("hide");
      }, 3000);

      setTimeout(() => {
          toast.style.display = "none";
          toast.classList.remove("hide");
      }, 3500);
  }

  const params = new URLSearchParams(window.location.search);
  const error = params.get("error");
  if (error === "invalid") {
      showToast("Invalid username or password.");
  } else if (error === "empty") {
      showToast("Username and password cannot be empty.");
  }else if (error == "exists"){
      showToast("Username already exists")
  }
</script>

  </body>
</html>
