<div class="search-bar">
    <input class="searchInput" type="text" placeholder="Search orders...">
    <button class="btn">Search</button>
</div>
<table class="table">
    <thead>
        <tr>
            <!-- table display must match database table schema!!!!! -->
            <th>Production Order ID</th>
            <th>Order Placed Date</th>
            <th>Order Due Date</th>
            <th>Status</th>
            <th>Production Flag</th>
            <th>Vendor ID</th>
            <th>Update/Delete</th>
            
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.order_placed_date }}</td>
            <td>{{ order.order_due_date }}</td>
            <td>{{ order.order_status }}</td>
            <td>{{ order.order_production_flag }}</td>
            <td>{{ order.vend_id }}</td>

            <td class="action-buttons">

            <!-- UPDATE -->
            <form method="GET" action="/dashboard/orders/update" style="display:inline;">
                <input type="hidden" name="order_id" value="{{ order.order_id }}">
                <button class="btn small-btn">Update</button>
            </form>

            <!-- DELETE -->
            <form method="POST" action="/dashboard/orders/delete" style="display:inline;">
                <input type="hidden" name="order_id" value="{{ order.order_id }}">
                <button class="btn small-btn delete-btn">Delete</button>
            </form>

        </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No orders found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<div class="createRow">
    <form method="POST" action="/dashboard/orders/create" class="createForm">

        <input class="formInput" type="text" name="order_id" placeholder="Order ID" required>

        <input class="formInput" type="date" name="order_placed_date" required>

        <input class="formInput" type="date" name="order_due_date" required>

        <input class="formInput" type="text" name="order_status" placeholder="Status" required>

        <select class="formInput" name="order_production_flag">
            <option value="0">Not Prod</option>
            <option value="1">In Prod</option>
        </select>

        <input class="formInput" type="text" name="vend_id" placeholder="Vendor ID" required>

        <button class="btn" type="submit">Insert</button>
    </form>
</div>



