<div class="search-bar">
    <input class="searchInput" type="text" placeholder="Search orders...">
    <button class="btn">Search</button>
</div>
<table class="table">
    <thead>
        <tr>
            <!-- table display must match database table schema!!!!! -->
            <th>Production Order ID</th>
            <th>Order Placed Date</th>
            <th>Order Due Date</th>
            <th>Status</th>
            <th>Production Flag</th>
            <th>Vendor ID</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.order_placed_date }}</td>
            <td>{{ order.order_due_date }}</td>
            <td>{{ order.order_status }}</td>
            <td>{{ order.order_production_flag }}</td>
            <td>{{ order.vend_id }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No orders found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<div class="modifyButtons">
    <button class="btn">Create New Entry</button>
    <button class="btn">Update Entry</button>
    <button class="btn">Delete Entry</button>
</div>

